body {
  background: #e6f3f0;
  color: #953787;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4 {
  color: #4b164c;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.errmsg {
  font-weight: bold;
}
