.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.errmsg {
  font-weight: bold;
}
